-# <%= form_with model: @article do |f| %>
-#   <%= f.label :title %>
-#   <%= f.text_field :title %>

-#   <br/>

-#   <%= f.label :author %>
-#   <%= f.text_field :author %>

-#   <br/>

-#   <%= f.label :content %>
-#   <%= f.text_area :content %>

-#   <% if f.object.errors[:content].present? %>
-#     <span>
-#       <%= f.object_error[:content].to_sentence %>
-#     </span>
-#   <% end %>

-#   <br/>

-#   <%= f.submit %>
-# <% end %>

-# <%= link_to articles_path do %>
-#   Back to index
-# <% end %>

= form_with model: @article do |f|

  - if @article.errors.any?
    %h2Errors: 
      %ul
        - @article.errors.full_messages.each do |message|
          %li= message

  = f.label :title
  = f.text_field :title
  %br
  = f.label :author
  = f.text_field :author
  %br
  = f.label :content
  = f.text_area :content
  %br
  = f.fields_for :categories do |category_form|
    = category_form.label :name, 'Category:'
    = category_form.text_field :name

    = category_form.hidden_field :id, value: category_form.object.id
  %br

  = f.submit

= link_to articles_path do
  Back to index